// Colors
$tw-color-Black: rgb(0 0 0);
$tw-color-White: rgb(255 255 255);
$tw-color-Gray--400: rgb(83 100 113);
$tw-color-Gray--300: rgb(101 119 134);
$tw-color-Gray--200: rgb(170 184 194);
$tw-color-Gray--100: rgb(225 232 237);

$tw-color-Blue: rgb(29 155 240);
$tw-color-Blue--200: rgb(142 205 248);
$tw-color-Yellow: rgb(255 212 0);
$tw-color-Yellow--200: rgb(255 234 128);
$tw-color-DeepPink: rgb(249 24 128);
$tw-color-DeepPink--200: rgb(252 139 192);
$tw-color-BlueViolet: rgb(120 86 255);
$tw-color-BlueViolet--200: rgb(188 171 255);
$tw-color-Orange: rgb(255 122 0);
$tw-color-OrangeLight: rgb(255 189 128);
$tw-color-MediumSeaGreen: rgb(0 186 124);
$tw-color-MediumSeaGreenLight: rgb(128 221 190);

// Background colors
$tw-bg-color-Default: $tw-color-White;
$tw-bg-color-Dim: rgb(21 32 43);
$tw-bg-color-LightsOut: $tw-color-Black;
$dd-ss: #fff;

// Fonts
$tw-font-Default: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;

// Sizes





